/** Application specific sylings for Good Morning Display **/

.subwayIcon123 {
	width: 81px;
	height: 23px;
	background: url(../img/subway-icons.png) 0 0;
}

.subwayIconBDFM {
        width: 81px;
        height: 23px;
        background: url(../img/subway-icons.png) 0 -45px;
}

.subwayIconNQR {
        width: 81px;
        height: 23px;
        background: url(../img/subway-icons.png) 0 -22px;
}

#weather-container {
	text-align: center;
	margin-top: 1em;
}

#transit-status {
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: left;
}

#transit-status table {
	width: 100%;
}

.weather-icon {
	font-size: 10em;
}	

.form-buttons {
	float: right;
}

.no-settings-alert {
	display: none;
}

#weather-update-time, #transit-update-time {
	font-size: 0.40em;
	color: silver;
	text-align: right;
	padding: 0;
	margin: 0;
}

.forecast, .forecast p {
	text-align: left;
	font-weight: bold;
	padding: 0;
}

.short-day {
	font-size: .85em;
	color: gray;
	text-transform: uppercase;
	text-align: center;
	padding: 0;
}

#settings-container {
	text-align: right;
}

#settings-button {
	color: silver;
	font-size: 1.5em;
	padding: 0;
}

#humidity-feel {
	font-size: small;
	margin-top: -1.5em;
	color: gray;
}

.planned-work, .good-service, .sandy-reroute, .suspended, .service-change, .delays {
	text-transform: capitalize;
}

.planned-work {
	color: #996600;
}

.good-service {
	color: #060;
}

.delays {
	color: red;
}

.sandy-reroute {
	color: blue;
}

.suspended, .service-change {
	color: #960;
}
