body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Positioning */

.current-weather, .forecast-weather {
  padding: 2%;
}

.current-weather {
  width: 46%;
  float: left;
}

.current-weather p {
  margin: 0.5em 0;
}

.forecast-weather {
  width: 46%;
  float: right;
  margin-top: 4%;
}

.inner{
  width: 80%;
  margin: auto;
  text-align: center;
}

.forecast-weather ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.forecast-weather p  {
  vertical-align: middle;
  display: inline-block;
  margin-top: 2%;
}

.updated-time {
  clear: both;
  float: right;
  margin: 0 5% 0 0;
  color: silver;
  font-size: 80%;
}

.weather-container {
  overflow: hidden;
}

.transit-container {
  clear: both;
  margin: 10% 2%;
  overflow: hidden;
}

.transit-container table {
  margin: 0 auto;
  width: 70%;
}

td.train-line {
  width: 50%;
}

td.service-status {
  width: 50%;
}

/* Typography */

.temperature {
  font-size: 225%;
}

.humidity-feel {
  font-size: 80%;
  color: gray;
}

.day-time {
  color: gray;
  margin-right: 15%;
}

/* Image sizing */

.mini-icon {
  height: 20%;
  width: 20%;
  vertical-align: top;
  margin-right: 15%;
}
